/**
 * Admin Styles
 *
 * @package Easy_Notes
 * @subpackage Easy_Notes/admin
 * @version 1.0.0
 */

#easy_notes_options {
	td > fieldset > .form-group {
		margin-bottom: 1.25rem;
	}

	.form-group fieldset {
		border: .1rem dashed #aaa;
		padding: .5rem 1rem 1rem;
		border-radius: .5rem;
		display: inline-block;
	}

	.form-group td {
		padding: 0;
	}

	.form-control:not(.form-control-checkbox) {
		display: block;
	}

	.note-email {
		min-width: 350px;
	}

	.description {
		font-style: italic;
	}

	.form-group-checkbox .description {
		margin-top: -2px !important;
	}

	.premium {
		padding: .75rem;
		border-radius: .5rem;
		border: 1px solid;
		position: relative;
		cursor: not-allowed;
		opacity: .65;

		input,
		select,
		textarea,
		label {
			pointer-events: none;
			opacity: .65;
		}

		&:before {
			content: "Premium feature";
			position: absolute;
			top:0;
			right:0;
			background: linear-gradient(to top right, #333, #777);
			color: #fff;
			padding: .1rem .5rem;
			border-bottom-left-radius: .5rem;
			border-top-right-radius: .5rem;
		}
	}
}